.nav{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    
}
ul li {
    padding-left: 2rem;
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: black;
}

.main{
    text-align: center;
}